/* -------------------------------------------------------
GitLab Sans variable font.

Usage:
  html { font-family: 'GitLab Sans', sans-serif; }
*/
@font-face {
  font-family: 'GitLab Sans';
  font-weight: 100 900;
  /**
   * Applications should use a less aggressive font-display value than this.
   * This is done to make sure Storybook Previews load the font.
   */
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular'; /* stylelint-disable property-no-unknown */
  src: url('../../static/fonts/GitLabSans.woff2') format('woff2');
}

/* -------------------------------------------------------
Monospaced font: JetBrains Mono.

Usage:
  html { font-family: 'JetBrains Mono', sans-serif; }
*/
@font-face {
  font-family: 'JetBrains Mono';
  /**
   * Applications should use a less aggressive font-display value than this.
   * This is done to make sure Storybook Previews load the font.
   */
  font-display: block;
  font-style: normal;
  src: url('../../static/fonts/JetBrainsMono.woff2') format('woff2');
}
